@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Domain Search
7. Elements
	7.1 Buttons
	7.2 Accordions
	7.3 Tabs
	7.4 Loaders
	7.5 Milestones
	7.6 Icon Boxes
8. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900|Montserrat:500,700');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	line-height: 1.9;
	font-weight: 400;
	color: #656566;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(27,239,197,0.75);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	font-weight: 700;
	color: #1f1d22;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.section_title h2
{
	color: #1f1d22;
	line-height: 0.75;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	background: transparent;
	z-index: 100;
}
.header.scrolled
{
	background: #200e35;
	padding-top: 6px;
}
.header_content
{
	width: 100%;
	height: 124px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_content
{
	height: 80px;
}
.logo
{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.logo a
{
	display: block;
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
}
.logo a span
{
	color: #1befc5;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 48px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
}
.main_nav ul li.active a,
.main_nav ul li a:hover
{
	color: #1befc5;
}
.log_reg
{
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.log_reg_text a
{
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
}
.log_reg_text a:hover
{
	color: #1befc5;
}
.log_reg_content > div:not(:last-child)::after
{
	display: inline-block;
	content: '/';
	font-size: 16px;
	font-weight: 600;
	color: #FFFFFF;
	margin-left: 4px;
	margin-right: 4px;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(255,255,255,0.15);
}
.hamburger i
{
	font-size: 20px;
	color: #FFFFFF;
	padding: 5px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -350px;
	width: 350px;
	height: 100vh;
	background: #200e35;
	z-index: 102;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
}
.menu.active
{
	right: 0;
}
.menu_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.55);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
}
.menu_overlay.active
{
	visibility: visible;
	opacity: 1;
}
.menu_close_container
{
	position: absolute;
    top: 41px;
    left: 28px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1;
}
.menu_close
{
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu_close div
{
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu_close div:last-of-type
{
    -webkit-transform: rotate(90deg) translateX(-2px);
    -moz-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    -o-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu_close:hover div
{
    background: #1befc5;
}
.menu .log_reg
{
	display: block;
	position: relative;
	top: auto;
	right: auto;
	text-align: right;
}
.menu_nav
{
	margin-top: 50px;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 3px;
}
.menu_nav ul li a
{
	font-size: 24px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_nav ul li a:hover
{
	color: #1befc5;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 425px;
	overflow: hidden;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #4d1d85;
    background-image: linear-gradient(to bottom, #200e35, #4d1d85);
    background: #4d1d85;
    background: linear-gradient(to bottom, #200e35, #4d1d85);
    z-index: 1;
}
.background_city
{
	z-index: 3;
}
.cloud
{
	position: absolute;
	width: 138px;
	height: 57px;
	z-index: 4;
}
.cloud img
{
	max-width: 100%;
}
.cloud_1
{
	top: -40px;
	left: -138px;
	-webkit-animation: cloud_anim 60s -42s linear infinite;
	animation: cloud_anim 60s -42s linear infinite;
}
.cloud_2
{
	top: 17px;
	left: -138px;
	-webkit-animation: cloud_anim 60s -5s linear infinite;
	animation: cloud_anim 60s -5s linear infinite;
}
.cloud_3
{
	top: 146px;
	left: -138px;
	-webkit-animation: cloud_anim 60s -40s linear infinite;
	animation: cloud_anim 60s -47s linear infinite;
}
.cloud_4
{
	top: 164px;
	left: -138px;
	-webkit-animation: cloud_anim 60s -16s linear infinite;
	animation: cloud_anim 60s -16s linear infinite;
	z-index: 2;
}
@-webkit-keyframes cloud_anim
{
	0%
	{
		left: -138px;
	}
	100%
	{
		left: calc(100vw + 138px);
	}
}
@keyframes cloud_anim
{
	0%
	{
		left: -138px;
	}
	100%
	{
		left: calc(100vw + 138px);
	}
}
.home_container
{
	position: absolute;
	left: 0;
	top: 53.88%;
	width: 100%;
	z-index: 5;
}
.home_content
{
	
}
.home_title
{
	font-size: 48px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 0.75;
}
.breadcrumbs
{
	margin-top: 15px;
}
.breadcrumbs ul li,
.breadcrumbs ul li a
{
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
}
.breadcrumbs ul li,
.breadcrumbs ul li a:hover
{
	color: #1befc5;
}
.breadcrumbs ul li:not(:last-of-type)::after
{
	display: inline-block;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 500;
	content: '/';
	margin-left: 5px;
	margin-right: 5px;
}

/*********************************
6. Domain Search
*********************************/

.domain_search
{
	width: 100%;
	background: #25103f;
	z-index: 1;
}
.domain_search_form_container
{
	height: 152px;
}
.domain_search_form
{
	width: 100%;
}
.domain_search_form > div
{
	width: calc(100% - 196px);
	margin-right: 30px;
}
.domain_search_input
{
	width: calc(100% - 141px);
	height: 60px;
	background: #FFFFFF;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	border: none;
	outline: none;
	padding-left: 30px;
	font-size: 24px;
	font-weight: 500;
	color: #1f1d22;
}
.domain_search_input::-webkit-input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.domain_search_input:-moz-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.domain_search_input::-moz-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
} 
.domain_search_input:-ms-input-placeholder
{ 
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.domain_search_input::input-placeholder
{
	font-size: 24px !important;
	font-weight: 500 !important;
	color: #1f1d22 !important;
}
.domain_search_dropdown
{
	position: absolute;
	top: 0;
	right: 0;
	width: 141px;
	height: 60px;
	background: #7836c6;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	cursor: pointer;
	padding-left: 19px;
}
.domain_search_dropdown i
{
	color: #FFFFFF;
}
.domain_search_selected
{
	width: 100%;
	font-size: 24px;
	font-weight: 500;
	color: #FFFFFF;
	margin-left: 28px;
}
.domain_search_dropdown ul
{
	position: absolute;
	left: 0;
	top: 100%;
	padding-left: 19px;
	background: #FFFFFF;
	min-width: 90%;
	visibility: hidden;
	opacity: 0;
	padding-top: 15px;
	padding-bottom: 10px;
}
.domain_search_dropdown.active ul
{
	visibility: visible;
	opacity: 1;
}
.domain_search_dropdown ul li
{
	font-size: 24px;
	font-weight: 500;
	color: #1f1d22;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.domain_search_dropdown ul li:not(:last-child)
{
	margin-bottom: 5px;
}
.domain_search_dropdown ul li:hover
{
	color: #1befc5;
}
.domain_search_button
{
	width: 166px;
	height: 60px;
	background: #1befc5;
	border-radius: 12px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 24px;
	font-weight: 600;
	color: #1f1d22;
}
.domain_search_button img
{
	margin-right: 10px;
}
.domain_search_button:hover
{
	background: #FFFFFF;
}

/*********************************
7. Elements
*********************************/

.elements
{
	width: 100%;
	background: #FFFFFF;
	padding-top: 96px;
	padding-bottom: 95px;
}
.elements_title
{
	font-size: 30px;
	font-weight: 700;
	color: #1f1d22;
	line-height: 0.75;
}

/*********************************
7.1 Buttons
*********************************/

.buttons
{

}
.buttons_container
{
	margin-top: 40px;
}
.buttons_container > div
{
	margin-bottom: 12px;
}
.buttons_container > div:not(:last-child)
{
	margin-right: 21px;
}
.button
{
	width: 130px;
	height: 60px;
	border-radius: 12px;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 60px;
}
.button_1
{
	background: #1befc5;
}
.button_1 a
{
	color: #1f1d22;
}
.button_1:hover
{
	background: #7836c6;
}
.button_1:hover a
{
	color: #1befc5;
}
.button_2
{
	background: #7836c6;
}
.button_2 a
{
	color: #1befc5;
}
.button_2:hover
{
	background: #1befc5;
}
.button_2:hover a
{
	color: #1f1d22;
}
.button_3
{
	background: #25103f;
}
.button_3 a
{
	color: #1befc5;
}
.button_3:hover
{
	background: #1befc5;
}
.button_3:hover a
{
	color: #1f1d22;
}

/*********************************
7.2 Accordions
*********************************/

.accordions_and_tabs
{
	margin-top: 80px;
}
.accordions_and_tabs_row
{
	margin-top: 41px;
}
.accordion_container:not(:last-child)
{
	margin-bottom: 15px;
}
.accordion
{
	height: 58px;
	width: 100%;
	background: #7836c6;
	padding-left: 28px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 700;
	line-height: 58px;
	border-radius: 12px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion div
{
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: 50px;
	height: 100%;
	content: '+';
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 700;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active
{
	background: #1befc5;
	color: #1f1d22;
}
.accordion.active::after
{
	content: '-';
	color: #1f1d22;
}
.accordion_panel
{
	padding-right: 8px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel > div
{
	padding-bottom: 5px;
}
.accordion_panel p
{
	font-size: 15px;
	font-weight: 400;
	padding-top: 27px;
	color: #656566;
	line-height: 1.9;
}

/*********************************
7.3 Tabs
*********************************/

.tabs
{

}
.tab
{
	height: 58px;
	background: #7836c6;
	border-radius: 12px;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 58px;
	text-align: center;
	flex-grow: 1;
	cursor: pointer;
	padding-left: 27px;
	padding-right: 28px;
	white-space: nowrap;
	margin-bottom: 9px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab:not(:last-child)
{
	margin-right: 16px;
}
.tab.active
{
	background: #1befc5;
	color: #1f1d22;
}
.tab_panels
{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 50px;
	padding-bottom: 32px;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_panel_content p:last-of-type
{
	margin-bottom: 0;
}
.tab_image
{
	width: 100%;
	margin-right: 30px;
	margin-top: 10px;
}
.tab_image img
{
	max-width: 100%;
}
.tab_title
{
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	color: #1f1d22;
}
.tab_text
{
	margin-top: 27px;
}
.tab_text p
{
	font-size: 15px;
	line-height: 1.9;
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}

/*********************************
7.4 Loaders
*********************************/

.loaders
{
	margin-top: 108px;
}
.loaders_row
{
	margin-top: 41px;
}
.loader_container
{
	height: 186px;
}
.loader_container:nth-last-child(n+3)
{
	margin-bottom: 49px;
}
.loader
{
	width: 186px;
	height: 186px;
	margin: 0 auto;
	background: transparent;
}
.loader_content
{
	position: absolute;
	left: 50%;
	bottom: 58px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 18px;
	font-weight: 500;
	color: #232323;
	white-space: nowrap;
	text-align: center;
}
.progressbar-text
{
	top: 45% !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 36px !important;
	font-weight: 700 !important;
	color: #1f1d22;
}
.loader_title
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #656566;
}

/*********************************
7.5 Milestones
*********************************/

.milestones
{
	margin-top: 108px;
}
.milestones_row
{
	margin-top: 67px;
}
.milestone
{
	width: 100%;
}
.milestone_icon
{
	display: inline-block;
	height: 60px;
	width: 60px;
}
.milestone_icon img
{
	max-width: 100%;
}
.milestone_content
{
	padding-left: 24px;
}
.milestone_counter
{
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	color: #7836c6;
	font-weight: 700;
	line-height: 0.75;
}
.milestone_text
{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #656566;
	margin-top: 9px;
	line-height: 1.2;
}

/*********************************
7.6 Icon Boxes
*********************************/

.icon_boxes
{
	margin-top: 91px;
}
.icon_boxes_row
{
	margin-top: 41px;
}
.icon_box_icon
{
	width: 71px;
	height: 71px;
}
.icon_box_icon img
{
	max-width: 100%;
}
.icon_box_title
{
	font-size: 24px;
	font-weight: 700;
	color: #1f1d22;
	line-height: 1.2;
	margin-top: 40px;
}
.icon_box_text
{
	margin-top: 26px;
}

/*********************************
8. Footer
*********************************/

.footer
{
	width: 100%;
	background: #26064c;
	padding-top: 95px;
	padding-bottom: 95px;
}
.footer_logo
{
	font-size: 47px;
	color: #FFFFFF;
	font-weight: 600;
	line-height: 0.75;
}
.footer_logo span
{
	color: #1befc5;
}
.copyright
{
	font-size: 11px;
	font-weight: 400;
	color: #715691;
	margin-top: 17px;
}
.footer_text
{
	margin-top: 33px;
}
.footer_text p
{
	color: #FFFFFF;
}
.contact_container
{
	margin-top: 38px;
}
.contact_form > div:not(:last-of-type)
{
	margin-bottom: 21px;
}
.contact_input
{
	width: 100%;
	height: 49px;
	border: none;
	outline: none;
	border-radius: 12px;
	background: #715691;
	padding-left: 29px;
	color: #FFFFFF;
}
.contact_textarea
{
	height: 142px;
	padding-top: 15px;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.contact_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.contact_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.contact_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #FFFFFF !important;
}
.contact_button
{
	width: 108px;
	height: 52px;
	background: #1befc5;
	border: none;
	outline: none;
	border-radius: 12px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	color: #35214d;
	margin-top: 23px;
}
.footer_links
{
	padding-top: 13px;
}
.footer_list_col:not(:nth-child(n+3))
{
	margin-bottom: 45px;
}
.footer_list_title
{
	font-size: 20px;
	font-weight: 700;
	color: #1befc5;
}
.footer_list
{
	margin-top: 36px;
}
.footer_list li:not(:last-of-type)
{
	margin-bottom: 14px;
}
.footer_list li a
{
	font-size: 15px;
	font-weight: 400;
	color: #FFFFFF;
}
.footer_list li a:hover
{
	color: #1befc5;
}